<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Home Page</h1>
      <% if (messages && messages.success) { %>
      <p style="color: green; margin-bottom: 20px"><%= messages.success %></p>
      <% } %> <% if (user) { %>
      <p>Hello, <%= user.name %>!</p>
      <p><a href="/users">Manage Users</a></p>
      <p><a href="/logout">Logout</a></p>
      <% } else { %>
      <p>Please <a href="/login">Login</a> or <a href="/signup">Register</a></p>
      <% } %>
    </div>
  </body>
</html>
